{% extends "base.html"%}
{% block content %}
<div class='container mt-4 mb-3'>
    <h2 class='mt-3 mb-3'>{{ hook }}</h2>
    <form method='POST'>
        <div class='mt-4'>
            <label class='form-label'>フック名</label>
            <input class='form-control' rows='20' name='name' value='{{ hook }}'>
        </div>
        <div class='mt-4'>
            <textarea class='form-control' rows='20' name='code'>{{ content }}</textarea>
        </div>
        <p>{{ error }}</p>
        {{ forms.csrf(request) }}
        <button class='btn btn-primary'>更新</button>
    </form>
</div>
{% endblock %}
