{% extends "repo/base.html"%}
{% block repo %}
    <ul class='nav nav-tabs mt-3 mb-3'>
        <li class='nav-item'>
            <a class='nav-link' href='{{ url('/' + repo.name) }}'>コード</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='{{ url('/' + repo.name + '/log') }}'>ログ</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link active' href='{{ url('/' + repo.name + '/hook') }}'>フック</a>
        </li>
    </ul>
    <a href='{{ url('/' + repo.name + '/hook/' + hook + '/edit') }}' class='btn btn-primary'>フックを編集</a>
    <a href='{{ url('/' + repo.name + '/hook/' + hook + '/delete') }}' class='btn btn-danger'>削除する</a>
    <h2 class='mt-3 mb-3'>{{ hook }}</h2>
    <div class='mt-4'><pre>{{ content }}</pre></div>
{% endblock %}
