{% extends "repo/base.html"%}
{% block repo %}
    <ul class='nav nav-tabs mt-3 mb-3'>
        <li class='nav-item'>
            <a class='nav-link' href='{{ url('/' + repo.name) }}'>コード</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='{{ url('/' + repo.name + '/log') }}'>ログ</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link active' href='{{ url('/' + repo.name + '/hook') }}'>フック</a>
        </li>
    </ul>
    <form method='POST'>
        <div class='mt-4'>
            <label class='form-label'>フック名</label>
            <input class='form-control' rows='20' name='name' value='{{ hook }}'>
        </div>
        <div class='mt-4'>
            <textarea class='form-control' rows='20' name='code'>{{ content }}</textarea>
        </div>
        <p>{{ error }}</p>
        {{ forms.csrf(request) }}
        <button class='btn btn-primary'>更新</button>
    </form>
{% endblock %}
